body {
    background-color: #2a2624;
    color: white;
    min-width:300px;
}

#info {
  background-color: #444;
  border: 0;
  color: #bbb;
  display: block;
  font-size: 85%;
  line-height: 1.2;
  margin: 0;
  padding: calc(0.1em + 1px) 0;
  position: relative;
  text-align: center;
  width: 100%;
	margin-bottom: 1em;
}


.button {
  background-color: #554562;
  border-radius: 4px;
  font-weight: 600;
	float: left;
	min-width: 132px;
	max-width: 250px;
	margin: 8px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 1em 2em;
	border: none;
}

/* Button when it's clicked on */
.button:focus {
  color: #e1b813;
  outline: none;
}

.outline {
  min-width: 40px;
  margin: 3px;
  padding: 10px;
}

.selected {
  color: #e1b813;
}
